body {
   font-family: 'source sans pro',sans-serif;
   margin:0px;
}


.menu ol{
    display: flex;
    justify-content: space-between;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
h1 {
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.2px;
    margin: 0;
}

h2 {
	color: black
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
    margin: 40px;
    font-family:  'Fjalla One', sans-serif;
    text-transform:uppercase;    
}

h1 strong {
	color:black;
	font-size: 50px;
}
.project- details{
    width: 500px;
}
.project-imgcontainer{
  
}

header{
    width: 100%;
    display:flex;
    background-color: white;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 15px;
    display: flex;
  height: 90px; 
}
.menu-container a {
text-decoration: none;
color:black;
height: inherit;
font-size: 20px;
font-family:  'Fjalla One', sans-serif;
}
ol,
ul {
	margin:20px;
	padding: 0px;
	list-style: none;
  
  
}
li{
    margin: 5px;
    eight: 25px;
}
li :hover{
    color: coral;
}

.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    width: 50%;
    margin:0px  5px;
    text-align: center;

}
.hero-image{
    width: 50%;
    margin:0px;
}
.portafolio{
    margin:15px;
    background-color:#fafafa;
}
.project{
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    margin:15px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
.project-title{
    font-size: 30px;
    margin-bottom:10px;
    margin-top: 0px;
}
.project-course,
.project-date,
.project-url{
margin: 10px 0px;
}
  .project-description{
      font-size: 20px;
  }
  .project strong,
  .project a {
    font-family:  'Fjalla One', sans-serif;
    color: black;
    text-decoration: none;   
} 
.project a :hover {
    text-decoration: underline;   
    color: coral;
}
  .exp-list{
    background: #fafafa;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;

  }
.experience {
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
    margin:15px;
    padding:20px;
    background-color: white;
}
.experience img {
	width: 480px;
	height: 200px;
    object-fit: cover;
} 
.experience-detail {
	border: 1px;
	border-radius: 12px;
	margin: 20px;
	background-color: white;
	position: relative;
	padding: 24px;
    text-align: center;
    font-family: 'source sans pro',sans-serif;
}
.experience-url {
 color: black;
	align-items: center;
	text-decoration: none;
	border-radius: 5px;
    padding: 10px 40px;
}
.experience-title{
    font-size: 30px;
    margin-bottom:10px;
    margin-top: 0px;
}
.experience-description{
    font-size: 20px;
}
.experience-course,
.experience-date,
.experience-url{
margin: 10px 0px;
}
.experience strong,
.experience a {
  font-family:  'Fjalla One', sans-serif;
  color: black;
  text-decoration: none;   
}

.figure{
    margin:0
}
.experience a :hover {
    text-decoration: underline;   
    color: coral;
}
 
.footer{
    background-color: #fafafa;
    display: flex;
    text-align: center;
    justify-content: center;
  width: 100%;
  margin: 20px;
}
.footer img{
    vertical-align: middle;
}
.footer p{
    font-family:  'Fjalla One', sans-serif;
}

.event-list{
    display:flex;
    justify-content: space-around;
}
.event
{
    border: 1px solid ;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    background:#f4fbff;
    flex-shrink: 0;
    
}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-imageContainer{
    width: auto;
    margin:0px;
}
.event-details{
    margin:20px;
    background-color: white;
    margin-top: -60px;
    position: relative;
    padding: 20px;
text-align: left;
}
.event-description{
    text-align: left;
}
.event-url{
    border:1px solid black;
    padding: 5px 20px;
    text-decoration: none;
    border-radius:5px;
    color: black;   
    font-family:  'Fjalla One', sans-serif;   
}
.event-details a :hover {
    text-decoration: underline;   
    color: coral;
}
.contact{
    height: 300px;
    display:flex;
    align-items: center ;
    justify-content: space-between;

}
.social{
        border:1px solid red;
        

}
.social-link{
        width: 50px;
        height: 50px;
        border:1px solid white;
        display:inline-block;

}
.social-link.facebook{
    background-image: url("../imagenes/facebook.png");
    background-size: 50px 50px;

}
.social-link.instagrm{
    background-image: url("../imagenes/instagram.png");
    background-size: 50px 50px;
}
 
     



