body {
   font-family: 'source sans pro',sans-serif;
   margin:0px;
}


.menu ol{
    display: flex;
    justify-content: space-between;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
h1 {
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.2px;
    margin: 0;
}

h2 {
	color: black
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
    margin: 40px;
    font-family:  'Fjalla One', sans-serif;
    text-transform:uppercase;    
}

h1 strong {
	color:black;
	font-size: 50px;
}
.project- details{
    width: 500px;
}
.project-imgcontainer{
  
}

header{
    width: 100%;
    display:flex;
    background-color: white;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 15px;
    display: flex;
  height: 90px; 
}
.menu-container a {
text-decoration: none;
color:black;
height: inherit;
font-size: 20px;
font-family:  'Fjalla One', sans-serif;
}
ol,
ul {
	margin:20px;
	padding: 0px;
	list-style: none;
  
  
}
li{
    margin: 5px;
    eight: 25px;
}
li :hover{
    color: coral;
}

.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    width: 50%;
    margin:0px  5px;
    text-align: center;

}
.hero-image{
    width: 50%;
    margin:0px;
}
.portafolio{
    margin:15px;
    background-color:#fafafa;
}
.project{
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    margin:15px;
   

}

.experience {
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
    margin:15px;
    padding:20px;
    background-color: white;


}
figure{
    margin:0
}
.footer{
    background-color: #fafafa;
    display: flex;
    text-align: center;
    justify-content: center;
  width: 100%;
  margin: 20px;
}
.footer img{
    vertical-align: middle;
}
.footer p{
    font-family:  'Fjalla One', sans-serif;
} 
